<h1>Listing pads</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pads.each do |pad| %>
  <tr>
    <td><%= link_to 'Show', pad %></td>
    <td><%= link_to 'Edit', edit_pad_path(pad) %></td>
    <td><%= link_to 'Destroy', pad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pad', new_pad_path %>
