<p id="notice"><%= notice %></p>
<div id="embed" style="width:800px; height:100%"></div>
<script type="text/javascript">
$(function () {
  hackpad.render($('#embed'), "<%= @pad_id %>", "<%= @pad_subdomain %>");
});
</script>
